.header{
  width: 100%;
  height: 70px;
  background-color: crimson;
  color: ghostwhite;
}

.header-component{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-right-component{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo{
  padding: 0 20px;
  cursor: pointer;
}

.user-name{
  max-width: 70%;
  color: black;
  word-break: break-all;
}

.header-right-component h3{
  cursor: pointer;
}